
body{
	direction: rtl;
}

.page {
    background-color: white;
    color: black;
}

#theme-checkbox {
    display: none;
}


.card{
	align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;

}

.card-img{
    max-height: 460px;
    align-content: center;

}

.card-link{
    margin-right: 10px;
    margin-left: 10px;

}

.list-title{
    font-weight: bold
}

/* Dark Mode */
#theme-checkbox:checked + .page{
    background:#121212;
    color:white;
}

#theme-checkbox:checked + .page .card{
    background:#1e1e1e;
    color:white;
}

#theme-checkbox:checked + .page .list-group-item{
    background:#1e1e1e;
    color:white;
}

#theme-checkbox:checked + .page a{
    color:#66b3ff;
}






